*,
body,
.container-fluid {
    padding: 0;
    margin: 0;
}

body {
    color: black;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 767px) {
    .col {
        margin-top: 0;
    }

    .single-point {
        padding: 20px 10px;
    }
}

.row {
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
}

header .navbar-nav a {
    font-size: 18px;
    color: gray;
}

.search-btn,
.sign-btn {
    all: unset;
    font-size: 18px;
    color: black;
    border-radius: 50px;
    padding: 5px 10px;
    transition: 0.8s background-color;
}

.search-btn:hover,
.sign-btn:hover {
    background-color: rgb(235, 235, 235);
    transition-delay: 0s;
}

.register-btn {
    all: unset;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: #28a745;
    transition: 0.8s background-color;
}

.register-btn:hover {
    background-color: #185a27;
    transition-delay: 0s;
}

.blue-icon i {
    color: #3482FF;
}

main {
    background-color: white;
    background-color: white;
}

.hero-image {
    background-image: url('images/hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: white;
}

.hero-section {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    backdrop-filter: blur(5px);
}

.hero-form {
    width: 100%;
    text-align: center;
}

.hero-form i {
    position: absolute;
    color: grey;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 15px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hero-search-results {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    /* Adjust as needed */
}

.container.hero-search-text {
    position: relative;
    z-index: 1;
}

.hero-search {
    width: 90%;
    padding: 10px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-style: none;
    border-bottom: 2px solid #e9ecf2;
}

.hero-search-text {
    text-align: center;
}

.hero-search-text i {
    font-size: 40px;
}

.hero-search-results {
    width: 90%;
    margin: auto;
}

.hero-search-list {
    list-style: none;
    color: black;
    padding: 0;
    margin: 0;
}

.hero-search-filter {
    background-color: white;
    text-align: left;
    border-bottom: 2px solid #e9ecf2;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: bold;
}

.hero-filter {
    all: unset;
    color: #3482FF;
    border-radius: 30px;
    border: 1px solid #3482FF;
    padding: 5px 10px;
    background-color: white;
    transition: 0.8s background-color;
}

.hero-filter:hover {
    background-color: #c0cbdf;
    transition-delay: 0s;
}

.hero-search-card {
    color: #818895;
    background-color: white;
    text-align: left;
    border-bottom: 2px solid #e9ecf2;
    transition: 0.8s background-color;
    padding: 10px 30px;
}

.hero-search-card:last-child {
    border-bottom: 2px solid #e9ecf2;
    border-left: 2px solid #e9ecf2;
    border-right: 2px solid #e9ecf2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.hero-search-card:hover {
    background-color: #eef3fe;
    transition-delay: 0s;
}

.hero-search-card a {
    text-decoration: none;
}

.hero-search-card a h3 {
    color: black;
    font-size: 18px;
    font-weight: bold;
}


.hero-search-card a button {
    all: unset;
    color: #02a83e;
    background-color: #c8e8dc;
    padding: 3px 20px;
    font-size: 12px;
    border-radius: 20px;
}

#hero-search-ad {
    all: unset;
    color: #3482FF;
    background-color: #c8dce8;
    padding: 3px 20px;
    font-size: 12px;
    border-radius: 20px;
}

.hero-search-card a p {
    margin-top: 10px;
    color: #818895;
    font-size: 14px;
}

.search-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.search-option {
    background-color: white;
    border: 1px solid #999;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.search-option a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 20px;
}

.search-option:hover {
    background-color: #ccc;
}

i {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 10vh 0;
}

footer a {
    text-decoration: none;
}

footer hr {
    color: grey;
    font-size: 5px;
}

.navbar-link p {
    color: white !important;
}

.navbar-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-navbar a {
    color: white;
    padding: 5vh 10px;
    font-size: 1.2rem;
}

.navbar-navbar a:hover {
    color: grey;
}

.navbar-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-link img {
    filter: brightness(0) invert(1);
    margin-bottom: 5px;
}

.navbar-link p {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 1rem;
}