body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: 'Audiowide', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

.container-fluid {
    padding: 0;
}

header .navbar-nav a {
    float: left;
    font-size: 15px;
    color: gray;
}

.blue-icon i {
    color: #3482FF;
}

main {
    background-color: purple;
}

.hero-image {
    background-image: url('images/hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: white;
}

.hero-section {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.hero-search {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%
}

.hero-search-text {
    text-align: center;
}

.hero-search-text i {
    font-size: 40px;
}

.rounded-image {
    background-image: url('images/banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #272E28;
}