*,
body,
.container-fluid {
    padding: 0;
    margin: 0;
}

body {
    color: black;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 767px) {
    .col {
        margin-top: 0;
    }

    .single-point {
        padding: 20px 10px;
    }
}

.row {
    padding: 0;
    margin: 0;
}

/* header */

header {
    background-color: white;
}

header .navbar-nav a {
    font-size: 18px;
    color: gray;
}

.search-btn,
.sign-btn {
    all: unset;
    font-size: 18px;
    color: black;
    border-radius: 50px;
    padding: 5px 10px;
    transition: 0.8s background-color;
}

.search-btn:hover,
.sign-btn:hover {
    background-color: rgb(235, 235, 235);
    transition-delay: 0s;
}

.register-btn {
    all: unset;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: #28a745;
    transition: 0.8s background-color;
}

.register-btn:hover {
    background-color: #185a27;
    transition-delay: 0s;
}

.blue-icon i {
    color: #3482FF;
}

/* main */
main {
    background-color: white;
    background-color: white;
}

/* main */
.hero-image {
    background-image: url('images/hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: white;
}

.hero-section {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    backdrop-filter: blur(5px);
    position: relative;
}

.hero-form {
    width: 100%;
    text-align: center;
}

.hero-form i {
    position: absolute;
    color: grey;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 15px;
}

.hero-search {
    width: 90%;
    padding: 10px;
    border-radius: 25px;
    border-bottom: 2px solid #e9ecf2;
    border-style: none;
    margin: auto;
}

.hero-search.clicked {
    border-bottom: 2px solid #e9ecf2;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.hero-search-text {
    text-align: center;
}

.hero-search-text i {
    font-size: 40px;
}

#searchResults {
    overflow-y: scroll;
    height: 300px;
    border-bottom: 2px solid #e9ecf2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.hero-search-results {
    position: absolute;
    width: 90%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.hero-search-results.show {
    display: block;
}

.hero-search-list {
    list-style: none;
    color: black;
    padding: 0;
    margin: 0;
}

.hero-search-filter {
    background-color: white;
    text-align: left;
    border-bottom: 2px solid #e9ecf2;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: bold;
}

.hero-filter {
    all: unset;
    color: #3482FF;
    border-radius: 30px;
    border: 1px solid #3482FF;
    padding: 5px 10px;
    background-color: white;
    transition: 0.8s background-color;
}

.hero-filter:hover {
    background-color: #c0cbdf;
    transition-delay: 0s;
}

.hero-search-card {
    color: #818895;
    background-color: white;
    text-align: left;
    border-bottom: 2px solid #e9ecf2;
    transition: 0.8s background-color;
    padding: 10px 30px;
}

.hero-search-card:hover {
    background-color: #eef3fe;
    transition-delay: 0s;
}

.hero-search-card a {
    text-decoration: none;
}

.hero-search-card a h3 {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.hero-search-card a button {
    all: unset;
    color: #02a83e;
    background-color: #c8e8dc;
    padding: 3px 20px;
    font-size: 12px;
    border-radius: 20px;
}

#hero-search-ad {
    all: unset;
    color: #3482FF;
    background-color: #c8dce8;
    padding: 3px 20px;
    font-size: 12px;
    border-radius: 20px;
}

#hero-search-ad-link {
    all: unset;
    color: black;
    font-size: 15px;
    margin-left: 10px;
}

#hero-search-ad-link i {
    font-size: 15px;
}

#hero-search-ad-link:hover {
    all: unset;
    color: #02a83e;
}

.hero-search-card a p {
    margin-top: 10px;
    color: #818895;
    font-size: 14px;
}

.search-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.search-option {
    background-color: white;
    border: 1px solid #999;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.search-option a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 20px;
}

.search-option:hover {
    background-color: #ccc;
}

i {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Carousel*/
.carousel-inner {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.rounded-image {
    color: white;
    height: 400px;
    box-sizing: border-box;
}

.carousel-item {
    background-size: cover;
    background-position: 100% 100%;
}

.rounded-image-section {
    padding: 0 150px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.sign-btn-light {
    all: unset;
    color: black;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: rgb(188, 188, 188);
    transition: 0.8s background-color;
    margin-right: 20px;
}

.sign-btn-light:hover {
    background-color: rgb(255, 255, 255);
    transition-delay: 0s;
}

#rounded-image-ad-link {
    all: unset;
    color: black;
    font-size: 15px;
}

/* Agency */
.agency {
    padding: 0 150px;
}

.agency-title h3 {
    padding-left: 0;
    font-weight: bold;
}

.agency-title a {
    text-decoration: none;
}

.agency-card,
.agency-card-middle {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    color: grey;
    background-color: white;
    transition: 0.8s background-color;
    height: 230px;
    overflow: hidden;
}

.agency-card-middle {
    margin-left: 15px;
    margin-right: 15px;
}

.agency-card:hover,
.agency-card-middle:hover {
    background-color: rgb(235, 235, 235);
    transition-delay: 0s;
    cursor: pointer;
}

.agency-card h3,
.agency-card-middle h3 {
    font-size: 18px;
    font-weight: bold;
}

.agency-card p,
.agency-card-middle p {
    font-size: 15px;
}

/* Counties */
.counties .row {
    margin-bottom: 20px;
}

.county-title h3 {
    padding-left: 0;
    font-weight: bold;
}

.county-title a {
    text-decoration: none;
}

.county-card,
.county-card-middle {
    display: inline;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    color: grey;
    background-color: white;
    transition: 0.8s background-color;
    height: 100px;
    overflow: hidden;
    align-items: center;
    padding: 0;
    margin: 0;
}

.county-card-middle {
    margin-left: 15px;
    margin-right: 15px;
}

.county-card:hover,
.county-card-middle:hover {
    background-color: rgb(235, 235, 235);
    transition-delay: 0s;
    cursor: pointer;
}

.county-card a h3,
.county-card-middle a h3 {
    display: inline;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: grey;
}

.county-card p,
.county-card-middle p {
    font-size: 15px;
}

.county-card a,
.county-card-middle a {
    text-decoration: none;
}

.partner-logos {
    background-color: white;
  }

/* Slider */
.slick-slide {
    margin: 0 10px;
}

.logo-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
  .logo-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
  }
  
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
  }
  
  .slick-list {
    display: flex;
    align-items: center;
    flex-direction: row; 
  }
  
  .slick-slide {
    flex: 0 0 auto;
  }
  
  .slick-list:focus {
    outline: none;
  }
  
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
  
  .slick-track:before,
  .slick-track:after {
    display: table;
    content: '';
  }
  
  .slick-track:after {
    clear: both;
  }
  
  .slick-loading .slick-track {
    visibility: hidden;
  }
  
  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }
  
  [dir='rtl'] .slick-slide {
    float: right;
  }
  
  .slick-slide img {
    display: block;
  }
  
  .slick-slide.slick-loading img {
    display: none;
  }
  
  .slick-slide.dragging img {
    pointer-events: none;
  }
  
  .slick-initialized .slick-slide {
    display: block;
  }
  
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  
  .slick-arrow.slick-hidden {
    display: none;
  }


/* Single Point */
.single-point {
    padding: 20px;
    text-align: left;
}

.single-point .col {
    margin-top: 20px;
}

.single-point .col i {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 50px;
}

.single-point .col h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.single-point .col p {
    font-size: 1.2rem;
    color: grey;
}

/* Footer */
footer {
    background-color: #272E28;
    color: white;
    padding: 10vh 0;
}

footer a {
    text-decoration: none;
}

footer hr {
    color: grey;
    font-size: 5px;
}

.navbar-link p {
    color: white !important;
}

.navbar-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-navbar a {
    color: white;
    padding: 5vh 10px;
    font-size: 1.2rem;
}

.navbar-navbar a:hover {
    color: grey;
}

.navbar-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-link img {
    filter: brightness(0) invert(1);
    margin-bottom: 5px;
}

.navbar-link p {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 1rem;
}
