body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.container-fluid {
    padding: 0;
}

header .navbar-nav a {
    font-size: 18px;
    color: gray;
    padding: 0;
    margin-left: 20px;
}

.navbar-nav {
    margin-left: 50px;
}

.register-btn {
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: #28a745;
    border-color: #28a745;
}

.register-btn:hover {
    background-color: #185a27;
    border-color: #185a27;
}

.blue-icon i {
    color: #3482FF;
}

main {
    background-color: purple;
}

.hero-image {
    background-image: url('images/hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: white;
}

.hero-section {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    backdrop-filter: blur(5px);
}

.hero-search {
    width: 90%;
    min-width: 90%;
    padding: 20px;
    border-radius: 50px;
    border-style: none;
}

.hero-search-text {
    text-align: center;
}

.hero-search-text i {
    font-size: 40px;
}

.col-thin {
    width: 20%;
}

.rounded-image {
    background-image: url('images/banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #272E28;
}